.gitignore
Readme.md
git-repository/.git
git-repository/*.DS_Store
git-repository/.vscode
git-repository/.idea/
git-repository/.awcache
git-repository/.circleci
git-repository/.github
git-repository/.storybook
git-repository/build
git-repository/dist
git-repository/docs
git-repository/coverage/
git-repository/tests/
git-repository/node_modules
git-repository/static/dist
git-repository/test-results.xml
git-repository/npm-debug.log
git-repository/npm-debug.log.*
